:root {
	--primary: #617d98;
	--text: #222;
	--background: #f1f5f8;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	accent-color: var(--primary);
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	background-color: var(--background);
	color: var(--text);
}

.booklist,
.new-book {
	width: 100%;
	max-width: 1170px;
	margin: 5em auto;
	display: grid;
	gap: 2em;
	padding: 0.5em 1em;
}

.booklist {
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-template-rows: repeat(auto-fill, 1fr);
}

.book {
	background-color: white;
	border-radius: 1em;
	padding: 1em 2em;
}

.book h1 {
	margin-top: 0.5em;
}

.book h4 {
	color: var(--primary);
	margin-top: 0.25em;
	font-size: 0.75em;
}

.book img {
	max-width: 100%;
}
